.divs {
	background-image: url(https://aboutmsr.com/wp-content/uploads/2025/08/IMG_8898.jpeg);
	background-size: cover;
	height: 105%;
}
img:hover{
	border: 5px solid white;
	border-radius: 10px;
}
#logo {
	height: 120px;
	border-radius: 60px;
	margin: 5px;
}
#header1 {
	display: inline-block;
	font-family: "Dancing Script";
}
#header2 {
	font-family: Merienda;
	margin-left: 100px;
}
#img1 {
	height: 170px;
	margin-left: 30px;
	margin-top: 10px;
}
#img2 {
	height: 55px;
	margin-left: 40px;
	margin-bottom: 40px;
}
#img3 {
	height: 110px;
	margin-left: 60px;
	margin-top: 40px;
}
#img4 {
	height: 130px;
	margin-left: 75px;
}
#button1 {
	margin-left: 150px;
	height: 50px;
	width: 150px;
	border-radius: 10px;
	background-color: lightpink;
	border-color: #e3869a;
	font-size: 25px;
	margin-bottom: 40px;
}



#span1 {
	font-size: 40px;
	font-family: Merienda;
	margin-left: 50px;
	margin-top: 10px;
}
#span2 {
	font-size: 40px;
	font-family: Merienda;
	margin-top: 10px;
	margin-left: 200px;
}
#Score {
	font-size: 40px;
	font-family: Merienda;
}
#number1 {
	font-size: 200px;
	display: inline-block;
	font-family: "Harrington Regular";
	margin-top: 30px;
	margin-left: 20px;
}
#number2 {
	font-size: 200px;
	display: inline-block;
	font-family: "Harrington Regular";
	margin-top: 30px;
}
#Operations {
	height: 130px;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}
#equals {
	height: 120px;
	margin-left: 20px;
}
#input {
	height: 45px;
	width: 140px;
	margin-top: 50px;
	font-size: 40px;
	border: 2px solid black;
	border-radius: 10px;
}
#button2 {
	height: 60px;
	width: 200px;
	background-color: lightpink;
	border-radius: 20px;
	border: 2px white solid;
	font-size: 30px;
	margin-left: 20px;
}
#button3 {
	height: 60px;
	width: 200px;
	background-color: lightpink;
	border-radius: 20px;
	border: 2px white solid;
	font-size: 30px;
	margin-left: 20px;
}
#button4 {
	height: 60px;
	width: 350px;
	background-color: lightpink;
	border-radius: 20px;
	border: 2px white solid;
	font-size: 30px;
	margin-left: 20px;
}